{
  "presets": [
    ["env", { "modules": false }],
    "stage-2",
    "es2015"
  ],
  "plugins": ["transform-runtime","transform-vue-jsx"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
